
   <div style="margin-left: 20px;">
        <div class="content-header">

            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div>
            </div>
          </div>
    
        <section class="content">
            <div>
            <div class="row">    
            <!-- First Card -->
              <div _ngcontent-ikf-c6="" class="col-lg-3 col-sm-4 col-12 ng-star-inserted" routerLink="/dashboard/ReportDash">
                <div _ngcontent-ikf-c6="" class="small-box ng-star-inserted bg-danger" tabindex="0">
                
                
                  <div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPDATE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
                  </div>

                  
                    <div _ngcontent-ikf-c6="" class="inner" ><h4 _ngcontent-ikf-c6="">Tank Level (TLD-1) </h4><p _ngcontent-ikf-c6=""></p>
                        <h4 _ngcontent-ikf-c6="" class="ng-star-inserted"><i _ngcontent-ikf-c6="" aria-hidden="true" class="fa fa-warning"></i> Not connected</h4>
                    </div>
                    <div _ngcontent-ikf-c6="" class="icon"><i _ngcontent-ikf-c6="" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </div>
              </div>

              <!-- Second Card -->
                    <div _ngcontent-ikf-c6="" class="col-lg-3 col-sm-4 col-12 ng-star-inserted" routerLink="/dashboard/ReportDash">
                    <div _ngcontent-ikf-c6="" class="small-box ng-star-inserted bg-danger" tabindex="0">
                    <div _ngcontent-ikf-c6="" class="inner"><h4 _ngcontent-ikf-c6="">Tank Level (TLD-2) </h4><p _ngcontent-ikf-c6=""></p>
                    <h4 _ngcontent-ikf-c6="" class="ng-star-inserted"><i _ngcontent-ikf-c6="" aria-hidden="true" class="fa fa-warning"></i> Not connected</h4>
                    </div><div _ngcontent-ikf-c6="" class="icon"><i _ngcontent-ikf-c6="" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
          </div>
          </div>   
    
      </section>
       
    <H3 >TANK LEVEL DEVICE </H3>

</div>