
   <div style="margin-left: 20px;">
        <div class="content-header">

            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div>
            </div>
          </div>
    
        <section class="content">
            <div>
            <div class="row">    
            
              <div _ngcontent-ikf-c6="" class="col-lg-3 col-sm-4 col-12 ng-star-inserted" routerLink="/dashboard/ReportDash">
                <div _ngcontent-ikf-c6="" class="small-box ng-star-inserted bg-danger" tabindex="0">
                    <div _ngcontent-ikf-c6="" class="inner" ><h4 _ngcontent-ikf-c6="">Tank Level (TLD-1) </h4><p _ngcontent-ikf-c6=""></p>
                        <h4 _ngcontent-ikf-c6="" class="ng-star-inserted"><i _ngcontent-ikf-c6="" aria-hidden="true" class="fa fa-warning"></i> Not connected</h4>
                    </div>
                    <div _ngcontent-ikf-c6="" class="icon"><i _ngcontent-ikf-c6="" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </div>
              </div>
                    <div _ngcontent-ikf-c6="" class="col-lg-3 col-sm-4 col-12 ng-star-inserted" routerLink="/dashboard/ReportDash">
                    <div _ngcontent-ikf-c6="" class="small-box ng-star-inserted bg-danger" tabindex="0">
                    <div _ngcontent-ikf-c6="" class="inner"><h4 _ngcontent-ikf-c6="">Tank Level (TLD-2) </h4><p _ngcontent-ikf-c6=""></p>
                    <h4 _ngcontent-ikf-c6="" class="ng-star-inserted"><i _ngcontent-ikf-c6="" aria-hidden="true" class="fa fa-warning"></i> Not connected</h4>
                    </div><div _ngcontent-ikf-c6="" class="icon"><i _ngcontent-ikf-c6="" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
          </div>
          </div>   
    
      </section>
       
    <H3 >TANK LEVEL DEVICE </H3>

</div>