<!-- <div class="row" style="">
  
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-6">
        
       
      </div>

      <div class="col-6">
        
      </div>

    </div>

  </div>
</div> -->

<div class="main-box">
  <div class="row">
    <div class="col-6">
      <h2>Add Device</h2>
      <div class="map-box bg-dark w-100" style="height: 258px">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15249822.21961233!2d82.75252935!3d21.068622799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1670921110086!5m2!1sen!2sin"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>

    <div class="col-6">
      <div class="container m-4">
      <div class="form-section">
        <h3 style="margin-left: 120px; font-size: 25px;">ADD NEW DEVICE</h3>
        <form class="w-75"  [formGroup]="adddevice" (submit)="add()">
            <div class="form-input">
                <input type="text" class="form-control" placeholder="Device Name" formControlName="name">
            </div>
            <div class="form-input">
                <input type="number" class="form-control" placeholder="USER ID" formControlName="user_id">
            </div>

          <div class="form-input">
            <select  placeholder="Type of Device" class="form-control" formControlName="type">
              <option value="" disabled selected style="color: gray;">Type of Device</option>
              <option>Water in</option>
              <option>Water out</option>
              <option>Water Consumed</option>
              <option>Water Eva</option>
              <option>Water Perculated</option>
              <option>Water Accum</option>
              <option>Water Level</option>
            </select>
        </div>

        <div class="form-input">
          <input type="number" class="form-control" placeholder="Latitude"  formControlName="lat">
      </div>

      <div class="form-input">
        <input type="number" class="form-control" placeholder="Longitude"  formControlName="lng">
    </div>

    <div class="form-input">
      <input type="number" class="form-control" placeholder="SG"  formControlName="sensor_gap">
  </div>

  <div class="form-input">
    <input type="number" class="form-control"  placeholder="AC"  formControlName="ac">
</div>

<div class="form-input">
  <input type="number" class="form-control" placeholder="Hmin"  formControlName="hmin">
</div>

<div class="form-input">
  <input type="number" class="form-control"  placeholder="Hmax"  formControlName="hmax">
</div>

<div class="d-grid gap-2" style="margin-top: 18px;">

  <button type="submit" class="btn btn-primary ">Submit</button>

</div>           

            <h6 style="color: rgb(127, 127, 127); margin-top: 10px;">©Bulfro Monitech Pvt. Ltd. All rights reserved</h6>
        </form>
    </div>

    </div>

  </div>
           
  </div>
</div>
