
<section class="w3l-login">
    <div class="overlay">
        <div class="wrapper">
            <div class="logo">
                <a class="brand-logo">BULFRO</a>
            </div>
            <div class="form-section">
                <h3>Login</h3>
                <form action="#" method="post" class="signin-form">
                    <div class="form-input">
                        <input type="text" name="Username" placeholder="Username" required="" autofocus>
                    </div>
                    <div class="form-input">
                        <input type="password" name="password" placeholder="Password" required="">
                    </div>
                    <label class="check-remaind">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <p class="remember">Remember me</p>
                    </label>
                    <button type="submit" class="btn btn-primary theme-button mt-4">Log in</button>

                    <h6 style="color: rgb(127, 127, 127); margin-top: 10px;">©Bulfro Monitech Pvt. Ltd. All rights reserved</h6>
                </form>
            </div>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</section>